<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
  
      <!--heading on the nav bar-->
      <p class="navbar-header pull-left">
        <a class="navbar-brand thick" [routerLink]="['/home']">
          <b>Home</b>
        </a>
      </p>
  
      <!--tick mark-->
      <p class="navbar-text pull-right">
        <a [routerLink]="['/login']"
           class="navbar-link">
          <span class="glyphicon glyphicon-log-out"></span>
        </a>
      </p>
  
    </div>
  </nav>
  
  
  <div class="container pushdown" id="inputData">
  
    <form (ngSubmit) = "createEmployee()" name="model.myform" #f="ngForm">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input 
        [(ngModel)] = "employee.firstName"
               type="text"
               required
               class="form-control"
               id="firstName"
               placeholder="John"
               name="firstName"
               />
      </div>
      
      <div class="form-group">
          <label for="lastName">Last Name</label>
          <input 
          [(ngModel)] = "employee.lastName"
                 type="text"
                 class="form-control"
                 id="lastName"
                 required
                 placeholder="Samuels"
                 name="lastName"
                />
        </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input 
        [(ngModel)] = "employee.email"       
        type="email"
               class="form-control"
               id="email"
               placeholder="john.samuels@yahoo.com"
               required
               name="email"
               />
      </div>
  
      <div class="form-group">
        <label for="baseSalary">Base Salary</label>
        <input 
        [(ngModel)] = "employee.baseSal"
               type="number"
               class="form-control"
               id="baseSalary"
               placeholder="2000"
               required
               name="baseSal"
               />
      </div>
  
      <div class="form-group">
        <label for="medical">Medical Deduction</label>
        <input 
        [(ngModel)] = "employee.medical"
               type="number"
               class="form-control"
               id="medical"
               placeholder="300"
               required
               name="medical"
               />
      </div>

      <div class="form-group">
          <label for="tax">Tax Deduction</label>
          <input 
          [(ngModel)] = "employee.tax"
                 type="number"
                 class="form-control"
                 id="tax"
                 placeholder="500"
                 required
                 name="tax"
                 />
        </div>

        <!-- <div class="form-group">
            <label for="finalSalary">Take Home Salary</label>
            <input 
            [(ngModel)] = "employee.finalSal"
                   type="text"
                   
                   class="form-control"
                   id="finalSalary"
                   placeholder="2500"
                   required
                   name="finalSal"
                   />
          </div> -->
  
    <button class="btn btn-primary btn-block" type="submit">Add Employee</button>
    
    <!-- <a  class="btn btn-danger btn-block">Reset</a> -->
    
    </form>
  </div>
  
  <!-- Footer -->
  
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
      <p class="navbar-text pull-right">
        <a [routerLink]="['/home']">
          <span class="glyphicon glyphicon-user"></span>
        </a>
      </p>
  
    </div>
  </nav>
